.header {
  padding: 10px;
  margin: 0px auto 0px;
  text-align: left;
  background: #ee2737ff;
}

.text {
  text-decoration: none;
  font-size: 10px;
  color: black;
  font-family: Brush Script MT;
}

.imgPokedex {
  height: 50px;
  width: 170px;
}
